@import '../../assets/css/_variables';
.authentication-pane {
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
  box-sizing: border-box;
  border-radius: 4px;
  width: 400px;
  margin:auto;
  text-align: center;
  padding:35px 20px;
  border-bottom: solid 4px $sytac-orange;
  top: 20vh;
  position: relative;
}

.google-login-button{
  font-size:20px;
  width: 80%;
  max-width:350px;
  margin-top: 35px;
}
.google-login-button span{
  background-image: url(../../assets/img/google-login.png);
  background-position: 50%;
  background-repeat: no-repeat;
  display: inline-block;
  height: 24px;
  margin: 2px 5px 0 0;
  vertical-align: top;
  width: 24px;
  font-weight: 600;
  text-shadow: 0 1px 0 rgba(0,0,0,.12);
}
